### Imports ###

In [1]:
import numpy as np
import pandas as pd
import duckdb

### Diamonds Train ###

In [2]:
# Installing duckdb module
duckdb.sql('INSTALL sqlite; LOAD sqlite;')

# Connecting Diamonds DB
db_connect = duckdb.connect('../dataset/diamonds_train.db')

# Function to read every table of the DB.
tables = ['diamonds_city', 'diamonds_clarity', 'diamonds_color', 'diamonds_cut',\
          'diamonds_dimensions', 'diamonds_properties', 'diamonds_transactional']

dfs = {}
for name in tables:
    query = f'SELECT * FROM {name}'
    df = db_connect.execute(query).fetchdf()
    dfs[name] = df
    
# Reading and creating Dataframes
diamonds_city = dfs['diamonds_city']
diamonds_clarity = dfs['diamonds_clarity']
diamonds_color = dfs['diamonds_color']
diamonds_cut = dfs['diamonds_cut']
diamonds_dimensions = dfs['diamonds_dimensions']
diamonds_properties = dfs['diamonds_properties']
diamonds_transactional = dfs['diamonds_transactional']

# Joining all dataframes
df1 = diamonds_transactional.merge(diamonds_city, on='city_id')
diamonds_train = df1.join(diamonds_properties.set_index('index_id'), on='index_id')\
          .join(diamonds_color.set_index('color_id'), on='color_id')\
          .join(diamonds_cut.set_index('cut_id'), on='cut_id')\
          .join(diamonds_clarity.set_index('clarity_id'), on='clarity_id')\
          .join(diamonds_dimensions.set_index('index_id'), on='index_id')

# Droping some columns
columns = ['city_id','cut_id','color_id','clarity_id']
diamonds_train.drop(columns, inplace=True, axis=1)

# Reordering columns
diamonds_train = diamonds_train.reindex(columns=['carat','cut','color','clarity','depth','table','x','y',\
                                                 'z','city','price'])
# Saving to a .csv
diamonds_train.to_csv('../dataset/diamonds_train.csv')

diamonds_train

,carat,cut,color,clarity,depth,table,x,y,z,city,price
0,1.21,Premium,J,VS2,62.4,58.0,6.83,6.79,4.25,Dubai,4268
1,1.02,Ideal,G,SI1,60.5,59.0,6.55,6.51,3.95,Dubai,4882
2,2.00,Premium,I,SI2,61.3,59.0,8.13,8.09,4.97,Dubai,14208
3,1.01,Good,G,SI1,63.7,60.0,6.32,6.28,4.01,Dubai,5113
4,0.79,Ideal,G,SI1,62.3,57.0,5.90,5.85,3.66,Dubai,2898
...,...,...,...,...,...,...,...,...,...,...,...
40450,0.70,Ideal,I,SI1,61.2,55.0,5.71,5.76,3.51,New York City,2343
40451,0.52,Very Good,E,SI2,62.9,56.0,5.12,5.15,3.23,New York City,1120
40452,0.30,Ideal,H,IF,61.8,55.0,4.30,4.31,2.66,New York City,789
40453,0.59,Very Good,F,SI1,62.4,59.0,5.33,5.37,3.34,New York City,1452
40454,1.18,Premium,G,VS2,61.5,58.0,6.87,6.79,4.20,New York City,9516

### Diamonds Test ###

In [3]:
# Reading the .csv
diamonds_test = pd.read_csv('../test/diamonds_test.csv')

# Droping some columns
diamonds_test.drop(['id'], inplace=True, axis=1)

# Reordering columns
diamonds_test = diamonds_test.reindex(columns=['carat','cut','color','clarity','depth','table','x','y','z','city'])

# Saving to a .csv
diamonds_test.to_csv('../dataset/diamonds_test.csv')

diamonds_test

,carat,cut,color,clarity,depth,table,x,y,z,city
0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...
13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City